<div style="align-content:center;">
  <h1>
    Productos
    <span class="glyphicon glyphicon-tags"></span>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div>
          <button [routerLink]='["/agregarProducto"]' type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>   Nuevo Articulo
          </button>
          <input style="width:205px; position:absolute; left: 580px; top:12px;" type="text" class="form-control" id="inputPassword2" placeholder="Buscar">

          <button style="position:absolute; left:800px;" type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span>
          </button>

        </div>
      </div>

      <!-- Table -->
      <table class='table'>
        <thead>

          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <!--<th>Precio</th>-->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.descripcion}}</td>
            <!--<td>{{producto.precio'}}</td>-->
            <td>
              <button class="btn btn-primary btn-sm" [routerLink]='["/editarProducto/" + producto.id]'>Editar</button>
              <button class="btn btn-danger btn-sm" (click)="delete(producto)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
