
<h1>
  Facturas
  <span class="glyphicon glyphicon-list"> </span>
</h1>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div>
          <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>   Nueva Factura
          </button>
          <input style="width:205px; position:absolute; left: 580px; top:12px;" type="text" class="form-control" id="inputPassword2" placeholder="Buscar">

          <button style="position:absolute; left:800px;" type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span>
          </button>

        </div>
      </div>

      <!-- Table -->
      <table class='table'>
        <thead>

          <tr>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas">
            <td>{{persona.nombre}}</td>
            <td>{{persona.fechaNacimiento | date: 'dd-MM-yyyy'}}</td>
            <td>
              <button class="btn btn-primary" [routerLink]='["/personas-editar/" + persona.id]'>Editar</button>
              <button class="btn btn-danger" (click)="delete(persona)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->

